# Mark specific file as generated
Academic\ Records\ Summary_ex.html linguist-generated=true

# Mark entire directories as generated
Degree\ Detail\ Pages\/* linguist-generated=true
Pre-Conversion\ Files\/* linguist-generated=true
