# Exclude specific files and directories from language statistics
Academic Records Summary_ex.html linguist-generated
Degree Detail Pages (for inspect)/* linguist-generated
Pre-Conversion Files/* linguist-generated

